DEPLOYMENT_PLATFORM=google_cloud_run
BRIDGE_RUNTIME=storage_bridge

STORAGE_CLASS=synology_smb_bridge
STORAGE_INSPECTION_ROOT=\\\\100.x.x.x\\REPLACE_SHARE\\01 - Kiem tra GPs
STORAGE_DKKD_ROOT=\\\\100.x.x.x\\REPLACE_SHARE\\Chung nhan DDKKDD
STORAGE_TEMPLATE_ROOT=\\\\100.x.x.x\\REPLACE_SHARE\\Templates

SMB_AUTH_PROTOCOL=ntlm
SMB_PORT=445
SMB_ENCRYPT=false
SMB_CONNECTION_TIMEOUT_SECONDS=60

BRIDGE_AUTH_MODE=google_oidc
TAILSCALE_ENABLE=1
TAILSCALE_HOSTNAME=gxp-storage-bridge
