APP_NAME=GxP Web
APP_MODE=application_foundation
DEPLOYMENT_PLATFORM=google_cloud_run

AUTH_MODE=google_iap_jwt
AUTH_DEFAULT_ROLE=reader
AUTH_ROLE_SOURCE=database
AUTH_IAP_EXPECTED_AUDIENCE=/projects/PROJECT_NUMBER/global/backendServices/BACKEND_SERVICE_ID
AUTH_IAP_ALLOWED_EMAIL_DOMAIN=example.com
AUTH_TRUSTED_HEADER_FALLBACK=false

DB_DRIVER=postgresql+psycopg
DB_NAME=gxp_qlcl
DB_USER=gxp_app
DB_PASSWORD=__INJECT_FROM_SECRET_MANAGER__
CLOUD_SQL_CONNECTION_NAME=gxp-project-id:asia-southeast1:gxp-qlcl-db

STORAGE_CLASS=synology_private_share_prod
STORAGE_INSPECTION_ROOT=/mnt/synology/01 - Kiem tra GPs
STORAGE_DKKD_ROOT=/mnt/synology/Chung nhan DDKKDD
STORAGE_TEMPLATE_ROOT=/mnt/synology/Templates
