DEPLOYMENT_PLATFORM=google_cloud_run
BRIDGE_RUNTIME=storage_bridge

STORAGE_CLASS=synology_private_share_nonprod
STORAGE_INSPECTION_ROOT=/mnt/synology/01 - Kiem tra GPs
STORAGE_DKKD_ROOT=/mnt/synology/Chung nhan DDKKDD
STORAGE_TEMPLATE_ROOT=/mnt/synology/Templates
